<div dh-window data-ng-controller ="myAssistController">
    <div class = "fieldSet" ALIGN="center">
        <table>
            <tr>
                <td class = "textPaddding textFont ">
                    <label class="control-label" >Total Credits Points</label>
                </td>
            </tr>
            <tr>
                <td class = "textPaddding" > <input TYPE="text"
                                                    ng-model="totalCreditPoints"></td>
            </tr>
            <tr>
                <td class = "textPaddding textFont ">
                    <label class="control-label" >Available Credit</label>
                </td>
            </tr>
            <tr>
                <td class = "textPaddding" > <input TYPE="text"
                            ng-model="availableCreditPoints"></td>
            </tr>
            <tr>
                <td class = "textPaddding textFont ">
                    <label class="control-label">Redem Cash</label>
                </td>
            </tr>
            <tr>
                <td><select class ="form-control"
                            ng-model = "redeemCash"
                            ng-options="redeemCash for redeemCash in redeemCashList"></select>
            </tr>
            <br>
            <tr>
                <td align="center"><button class="myButton" ng-click="encash()"> Encash </button></td>

            </tr>
        </table>
</div>